
<div class="battle-ship__wrapper">
	<h3 class="battle-ship__page-header">Set Your Fleet {{userName}}</h3>
	<p class="battle-ship__paragraph">Use the controllers below to place your ships on the board.</p>

	<div class="battle-ship__board-wrapper">
		<table class="battle-ship__board">
			<tr>
				<th class="battle-ship__table-header battle-ship__table-header--spacing">0</th>
				<th class="battle-ship__table-header">1</th>
				<th class="battle-ship__table-header">2</th>
				<th class="battle-ship__table-header">3</th>
				<th class="battle-ship__table-header">4</th>
				<th class="battle-ship__table-header">5</th>
				<th class="battle-ship__table-header">6</th>
				<th class="battle-ship__table-header">7</th>
				<th class="battle-ship__table-header">8</th>
				<th class="battle-ship__table-header">9</th>
				<th class="battle-ship__table-header">10</th>
			</tr>
		    <tr ng-repeat="row in def.cells">
		    	<td class="board-numbers">{{row[0].coordinate.y}}</td>
		        <td class="cells" ng-repeat="cell in row"> 
		        	<div class="cell" ng-click="selectCell(cell)">
		        		<img src="static/icons/{{getCellStatus(cell)}}.png">
		        	</div>
		        </td>
		    </tr>
		</table>
	</div>

<div class="battle-ship__boats-wrapper" ng-repeat="boat in boats">
	<div class="boat-controller__wrapper">
		<div class="battle-ship__controllers" ng-show="boatIsSelected(boat)">
			<div class="battle-ship__controller-wrapper">
				<div class="battle-ship__controller">
			      <div ng-click="moveBoatUp(boat)" class="battle-ship__controller--top"></div>
			      <div ng-click="moveBoatDown(boat)" class="battle-ship__controller--bottom"></div>
			      <div ng-click="moveBoatLeft(boat)" class="battle-ship__controller--left"></div>
			      <div ng-click="moveBoatRight(boat)" class="battle-ship__controller--right"></div>
			      <div class="battle-ship__controller--circle"></div>
			    </div>
			</div>
			<!-- <img ng-click="moveBoatUp(boat)" class="battle-ship__arrow battle-ship__arrow--up" src="static/img/direction-arrow.png" />
			<img ng-click="moveBoatDown(boat)" class="battle-ship__arrow battle-ship__arrow--down" src="static/img/direction-arrow.png" />
			<img ng-click="moveBoatLeft(boat)" class="battle-ship__arrow" src="static/img/direction-arrow.png" />
			<img ng-click="moveBoatRight(boat)" class="battle-ship__arrow battle-ship__arrow--right" src="static/img/direction-arrow.png" /> -->
			<!-- <button ng-click="moveBoatUp(boat)">UP</button>
			<button ng-click="moveBoatDown(boat)">Down</button>
			<button ng-click="moveBoatLeft(boat)">Left</button>
			<button ng-click="moveBoatRight(boat)">Right</button> -->
			<!-- <button ng-click="flip(boat)">Flip</button> -->
		</div>
		<div class="boat" ng-click="selectBoat(boat)">
			{{boat.name}} {{boat.status}}
			({{boat.cells[0].coordinate.y}},{{boat.cells[0].coordinate.x}})
			({{boat.cells[boat.length - 1].coordinate.y}},{{boat.cells[boat.length - 1].coordinate.x}})
			<a class="battle-ship__select-button">Select Position</a> 
		</div>
	</div>	
</div>

<button ng-disabled="isReady()" ng-click="setPlayerReady()">Start Game</button>
</div>