<div class="string-game-over__wrapper">
	<div class="string-game-over__container">
		<h3 class="string-game-over__header">Game Over</h3>
		
		
		<div ng-if="game.type == 'String_Game'">
			<div class="string-game-over__words-wrapper">
				<div class="string-game-over__words">
					<div ng-repeat="word in game.words">
						<div class="string-game-over__word">{{word}} </div>
					</div>
				</div>
			</div>
		</div>
		
		<div ng-if="game.type == 'Tic_Tac_Woe'">
			<div class="game-over__results-board">
				<h1>{{game.type}} Results</h1>
				<div ng-if="game.status == 'OVER'">
					<div class="game-over__results">
						<div class="game-over__results-column game-over__results-winner">
							<img class="game-over__first-trophy" src="static/img/trophy_first.png" />
							<h3>1st Place</h3>
							<p>{{game.winner}}</p>
						</div>
						<div class="game-over__results-column">
							<img class="game-over__second-trophy" src="static/img/trophy_second.png" />
							<h3>2nd Place</h3>
							<p>{{game.loser}}</p>
						</div>
					</div>
				</div>
				<div ng-if="game.status == 'TIED'">
					<h3>It's a tie! Everybody wins!</h3>
					<p class="game-over__text-subdued">Or nobody does, depending on how you look at it.</p>
				</div>
			</div>
		</div>
			
			
		<a ng-click="backToLobby()" class="string-game-over__button-lobby">New Game</a>
	</div>
</div>

	
