<div class="lobby__wrapper">

	<div class="lobby__container">
		<h3 class="lobby__page-header">Welcome {{user.username}}</h3>
		<p class="lobby__paragraph">Let's play! Select an option to get started.</p>
		<div>
			<a ng-show="create" ng-click="createGame()" class="lobby__button-create">New Game</a>
			<!-- <button ng-show="create" ng-click="createGame()">New Game</button> -->
	<!-- 		<button ng-show="false" ng-click="isGameStarted(user.username)">isGameStarted() (temp button)</button>
	 -->		<button ng-show="startGame" ng-click="setGameStarted(user.username)">Start Game</button>
		</div>
	
		<div>
			<a ng-show="joinGame" ng-click="getLobby()" class="lobby__button-discover">Discover Games</a>
			<!-- <button ng-show="join" ng-click="getLobby()">Get Lobby</button> -->
	<!-- 		<button ng-show="false" ng-click="isGameStarted(game.player1)">isGameStarted() (temp button)</button>
	 -->		<button ng-show="false" ng-click="goToGame()">Start Game</button>
	
			<div ng-show="availableGames" ng-repeat="user_i in lobby">
				<div>{{user_i}}</div>
				<button ng-click="join(user_i)">Join Game</button>
			</div>
	
			<p ng-show="message" class="alert" id="wrong-credentials">{{message}}</p>
	
		</div>
		<div>
			<p>player1: {{game.player1}}</p>
			<p>player2: {{game.player2}}</p>
			<p>status: {{game.status}}</p>
		</div>
	</div>
	


</div>