<div>
	<h3>Clobby - {{user.username}}</h3>

	<div>
		<button ng-click="create()">New Game</button>
		<button ng-click="isGameStarted(user.username)">Is Game Matched (temp button)</button>
		<button ng-click="startGame()">Start Game</button>
	</div>

	<div>
		<button ng-click="getLobby()">Get Lobby</button>
		<button ng-click="isGameStarted()">isGameStarted() (temp button)</button>

		<p ng-show="message" class="alert" id="wrong-credentials">{{message}}</p>
		<div ng-repeat="user in lobby">
			<div>{{user}}</div>
			<button ng-click="join(user)">Join Game</button>
		</div>
		
		
	</div>
	<div>
	<p>game:</p>
	{{game.player}}
	{{game.oponent}}
	{{game.status}}
	</div>


</div>