
<div class="login__page-wrapper">
	<img src="static/img/Haven.png" class="app__logo"/>
	<div class="login__form-wrapper">
		<form class="login__login-form">
			<!-- <h3>Email temp@yr.com</h3> -->
			<p class="login__form-label">Email</p>
			<input class="login__input-text" type="email" ng-model="email" placeholder="" required> <br>
		
			<p class="login__form-label">Password</p>
			<input class="login__input-text" type="password" ng-model="password" placeholder="" required> <br>
		
			<p ng-show="message" class="login__forgot-link" id="wrong-credentials">
				{{message}} <br/>
				<a href="#/forgot.html" class="login__forgot-link">Forgot password?</a>
			</p>
		
			<div class="login__login-button" ng-click="logIn()">LOGIN</div>
	
			<a href="#/register" class="login__create-link">
				Don't have an account? <span class="login__create-link--span">Create one.</span>
			</a>
		</form>
	</div>
</div>

