<div>
	<h3>String Game - {{user.username}} - {{myTurn}}</h3>
	
	<button ng-hide=myTurn ng-click="getGame(game.player1)">isGameStarted() (temp button)</button>
	
	<div ng-repeat="word in game.words">
		<div>{{word}} </div>
	</div>

	<div ng-show=myTurn>
		<input type="text" ng-model="newWord" >
		
		<button ng-click="updateGame(game.player1, newWord)">updateGame</button>
	</div>
	
	<div>
		<p>player1: {{game.player1}}</p>
		<p>player2: {{game.player2}}</p>
		<p>turn: {{game.turn}}</p>
		<p>status: {{game.status}}</p>
	</div>


</div>