.lobby__container {
	max-width: 340px;
	margin: 0 auto;
	background-color: #161616;
	display: flex;
	flex-direction: column;
	padding: 2rem 1.6rem;
	border-radius: 5px;
}

.lobby__page-header {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 1.8rem;
	text-align: center;
	letter-spacing: 1.5px;
}

.lobby__paragraph {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
	line-height: 1.2rem;
	color: #fbfbfb;
	text-align: center;
	opacity: 0.75;
}

.lobby__button-create {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #ab6bfb;
    font-size: 1.3rem;
    margin-top: 2rem;
    letter-spacing: 1.5px;
    padding: 0.6rem;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    text-align: center;
}

.lobby__button-create:hover {
	background-color: #b48bf7;
}

.lobby__button-discover {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #ab6bfb;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    margin: 0.6rem 0;
    padding: 0.6rem;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    text-align: center;
}

.lobby__button-discover:hover {
	background-color: #b48bf7;
}

.lobby__available-game {
	color: #ffffff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
}

.lobby__game {
    background-color: #444444;
    border-radius: 5px;
    padding: 0.6rem 1rem;
    margin: 0.125rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
	font-family: 'Source Sans Pro', sans-serif;
}

.lobby__game--selected {
    border: 2px solid #b48bf7;
}

.lobby__games {
	display: flex;
	flex-direction: column;
	margin: 0.125rem 0;
	color: #ffffff;
}

.lobby__game-img {
    height: 42px;
    width: 42px;
}

.lobby__game-col {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 1rem;
}

.lobby__game-title {
    font-size: 1.125rem;
}

.lobby__game-label {
    font-size: 0.8rem;
    opacity: 0.75;
    color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.lobby__game-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #444444;
	border-radius: 5px;
	padding: 0.6rem;
	margin: 0.6rem 0;
}

.lobby__button-join {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #ab6bfb;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    padding: 0.4rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    text-align: center;
}

.lobby__button-join--selected {
    opacity: 0.6;
}

.lobby__button-join:hover {
	background-color: #b48bf7;
}

.lobby-game__select-option {
	padding: 0.6rem;
}


