.lobby__container {
	max-width: 300px;
	margin: 50px auto;
	background-color: #161616;
	display: flex;
	flex-direction: column;
	padding: 2rem 2.5rem;
}

.lobby__page-header {
	font-family: 'Bebas Neue', cursive;
	color: #ffffff;
	font-size: 2rem;
	text-align: center;
	letter-spacing: 1.5px;
}

.lobby__paragraph {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
	line-height: 1.2rem;
	color: #fbfbfb;
	text-align: center;
	opacity: 0.75;
}

.lobby__button-create {
	font-family: 'Bebas Neue', cursive;
	color: #ffffff;
	background-color: #ab6bfb;
    font-size: 1.6rem;
    margin-top: 2rem;
    letter-spacing: 1.5px;
    padding: 0.6rem;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    text-align: center;
}

.lobby__button-create:hover {
	background-color: #b48bf7;
}

.lobby__button-discover {
	font-family: 'Bebas Neue', cursive;
	color: #ffffff;
	background-color: #ab6bfb;
    font-size: 1.6rem;
    letter-spacing: 1.5px;
    margin: 0.6rem 0;
    padding: 0.6rem;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    text-align: center;
}

.lobby__button-discover:hover {
	background-color: #b48bf7;
}

.lobby__lobby-game {
	color: #ffffff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
}

.lobby__games {
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
}

.lobby__game-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #444444;
	border-radius: 5px;
	padding: 0.6rem;
	margin: 0.6rem 0;
}

.lobby__button-join {
	font-family: 'Bebas Neue', cursive;
	color: #ffffff;
	background-color: #ab6bfb;
    font-size: 0.9rem;
    letter-spacing: 1.5px;
    padding: 0.4rem;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    text-align: center;
}

.lobby__button-join:hover {
	background-color: #b48bf7;
}

