
.login__page-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.login__form-wrapper {
	margin-top: 50px;
}

.app__logo {
	width: 120px;
	margin: 0 auto;
}

.login__login-form {
	max-width: 340px;
	margin: 50px auto;
	background-color: #161616;
	display: flex;
	flex-direction: column;
	padding: 2rem 1.6rem;
	border-radius: 5px;
}

.login__form-label {
	/* font-family: 'Archivo Black', sans-serif; */
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: bold;
	color: #fbfbfb;
	letter-spacing: 1.2px;
	margin: 0.6rem 0;
}

.login__input-text input[type=text], input[type=email], input[type=password] {
	max-width: 100%;
	padding: 0.6rem;
	background-color: #4c4c4c !important;
	font-family: 'Source Sans Pro', sans-serif;
	border-radius: 5px;
	color: #fcfcfc;
}

.login__create-link {
	text-decoration: none;
}

.login__login-button {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    margin: 1rem 0;
    background-color: #ab6bfb;
    padding: 0.6rem;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    text-align: center;
}

.login__login-button:hover {
	background-color: #b48bf7;
}

.login__create-link {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.85rem;
	color: #9b9b9b;
	text-decoration: none;
}

.login__create-link--span {
	text-decoration: underline;
}

.login__forgot-link {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.85rem;
	color: #fbfbfb;
	text-decoration: none;
}




