.string-game__container {
	max-width: 340px;
	margin: 50px auto;
	background-color: #161616;
	display: flex;
	flex-direction: column;
	padding: 2rem 1.6rem;
	border-radius: 5px;
}

.string-game__header {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 1.8rem;
	text-align: center;
	letter-spacing: 1.5px;
}

.string-game__paragraph {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
	line-height: 1.2rem;
	color: #fbfbfb;
	text-align: center;
	opacity: 0.75;
}

.string-game__input-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.string-game__input-text-wrapper {
	max-width: 100%;
}

.string-game__input-text input[type=text] {
	max-width: 100% !important;
	padding: 0.6rem !important;
	background-color: #4c4c4c !important;
	font-family: 'Source Sans Pro', sans-serif !important;
	border-radius: 5px !important;
	color: #fcfcfc !important;
}

.string-game__add-button {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #ab6bfb;
    font-size: 0.75rem;
    letter-spacing: 1.2px;
    padding: 0.4rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    text-align: center;
}

.string-game__words {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.string-game__words-wrapper {
	width: 100%;
	margin: 1rem auto;
}

.string-game__word {
	background-color: #ffffff;
	border: 1px solid #787978;
	color: #000000;
	padding: 0.6rem;
	font-family: 'American Typewriter', serif;
	font-size: 1rem;
	margin: 0.6rem 0.4rem;
}